
/*
body
{
	font-family: "Arial Black",Arial, Verdana;
	font-size: normal;
	background-color: ghostwhite;
img {
	width:180px;
	margin:0px;
	}
h1{
	background-color: lemonchiffon;
	min-height: 40px;
	padding: 10px;
}
h2{
	background-color: lemonchiffon;
}

nav ul {
	padding-left: 0px;
	display: inline-block;
	background-color: lemonchiffon;
}

nav ul li{
	display: inline-block;
	min-width: 120px;
	min-height: 12px;
	padding: 10px;
	background-color: palegoldenrod;
	border-radius: 5px;
}

nav ul li a:link, a:visited
{
	text-decoration: none;
	color : blue;
	font-size: large;
}
nav ul li a:hover
{
	text-decoration:underline;
}
.lien a {
	color: grey;
	text-decoration: none;
}
.lien a:hover {	text-decoration: underline;}



.clear {clear: both;}

dt{
	line-height: 40px;
	display: inline-block;
}
dt .block{
	font-size: 12px;
	font-weight: bold;
	padding-left: 8px;
	padding-right: 16px;
	background-color: palegoldenrod;
	}
dd{
	margin-left: 0;
	display: inline-block;
	line-height: 40px;
	min-height: 12px;
	font-size: 10px;
	background-color: lemonchiffon;
	padding-left: 4px;
	padding-right: 4px;
}
.acquis{
	background-color: chartreuse;
}
#cookies{
            padding: 20px 10px;
            background-color: rgba(0, 0, 0, 0.7);
            color: #FFFFFF;
}
#cookies.hide{
	display: none;
}
*/